* {
  margin: 0;
  padding: 0;
}
.dws-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  background-color: rgb(53, 52, 51);
  align-items: center;
  flex-wrap: nowrap;
}

.block-1 {
  padding-right: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.block-1 > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 14px;
}
.ylogo {
  display: flex;
}
.menu {
  color: white;
  padding-left: 24px;
  padding-right: 10px;
}
.logo1 {
  padding-left: 10px;
}
.up {
  text-decoration: ;
  text-transform: uppercase;
  font-size: 8px;
  color: white;
}
.block-2 {
  display: flex;
  width: 100%;
  max-width: 510px;
  padding-right: 100px;
}
.search {
  display: flex;

  display: none;
}
.search-area {
  display: flex;
  width: 100%;

  height: 24px;
  padding-bottom: 4px;
  background-color: black;
  outline: none;
  color: aliceblue;
}
input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.151);
  background: black;
}
input[type="submit"] {
  outline: none;
  background: url(images/search.png) no-repeat 50% 50%;
}
.search-button {
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.151);
  width: 54px;
  height: 24px;
  background: rgba(128, 128, 128, 0.151);
  cursor: pointer;
}

.search-b {
  position: absolute;
  left: 0;
  color: rgba(128, 128, 128, 0.726);
  margin-top: 4px;
}
.keyboard {
  position: absolute;
  margin-left: -80px;
  margin-top: 3px;
}

.block-3 {
  display: flex;
  align-items: center;

  justify-content: flex-end;
  padding-right: 24px;
}

.block-3 a {
  color: aliceblue;
}
.name-link {
  padding-left: 28px;
}
.bell {
  padding-left: 24px;
}
.apps {
  padding-left: 24px;
}
.camera {
  padding-left: 7px;
}
.my-name {
  border-radius: 12px;
}
.scroll {
  background-color: pink;
  height: 2000px;
}
